body {
    font-family: Arial;
    margin: 0;
}

.container {
    padding: 40px;
    text-align: center;
    background-color: lightblue;
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        background-color: lightgreen;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        background-color: lightcoral;
    }
}